body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.main-box {

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 50vh;
    border-radius: 8px;
    align-items: center;

}